

.hawaii-background {
    background-image: url(../../assets/Images/hawaii.jpg);
    background-size:cover;
    background-position: center;
    
}

.greece-background {
    background-image: url(../../assets/Images/greece.jpg);
    background-size:cover;
    background-position: center;
    
}

.iceland-background {
    background-image: url(../../assets/Images/iceland.jpg);
    background-size:cover;
    background-position: center;
}