@use "variables.scss";
@use "mixins" as *;

.nav-bar {
    background-color: variables.$nav-background;

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 1rem 4rem;
    }

    &__destinations {
        display: flex;

        & li {
            padding-right: 1.5rem;
            color: variables.$secondary-color;
            font-size: 1.25rem;
            
            & a {
                text-decoration: none;       
            }

            & a:hover {
                border-bottom: 3px solid variables.$orange-highlight;
                padding-bottom: 10px;
            }

            & a:link, a:visited {
                color: variables.$secondary-color;
            }
        }
    }

    &__name a {
        text-decoration: none;
        @include bold-font(2rem, variables.$primary-color)
    }
}



body {
    margin: 0;
    padding: 0;
    font-family: Verdana,;

}
