@use "./variables";
@use "./mixins" as *;

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: variables.$primary-background;
    flex-wrap: wrap;

    &__info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 40%;
    }

    &__text {
        color: variables.$primary-color;
        font-size: 1.2rem;
       
    }

    &__btn {
        border-radius: 25px;
        color: white;
        background-color: variables.$orange-highlight;
        border: none;
        width: 200px;
        padding: 12px 0;
        font-size: 1.2rem;
        margin-top: 20px;

    }

    &__header {
        @include bold-font(3rem, variables.$primary-color);
        flex-wrap: wrap;
        
        
    }
}

@media screen and (max-width:500px) {

    .hero {
        flex-direction: column;
        align-content:normal;
        
    }

    

    
}

@media screen and (max-width:832px) {
    .hero-img {
        width: 50%;
        margin-top: 50px;
        
    }
}